:root {
    /* primary text colors */
    --primaryText: #191826;
    --secondaryText: #fcfaf9;
    /* button colors */
    --iosBtnBckgrnd: #191826;
    --iosBtnHover: #66E2DC;
    --droidBtnBckgrnd: #fcfaf9;
    --droidBtnHover: #FFB964;
    /* download card background */
    --cardBckgrnd: #FA7453;

}

* {
    font-size: 16px;
    line-height: 1.75px;
    color: var(--primaryText);
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'IBM Plex Sans Bold';
}

h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -1px;
}

h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
}

/* create the body grid */
body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(12, 1fr); */
    background-image: url(./assets/bg-main-mobile.png);
    
}

/* logo image at the top of the page */
.logo {
    margin-top: 3rem;
    margin-left: 2rem;

}

/* pattern image at top of page is hidden on mobile */
.pattern1 {
    display: none;
}

.intro {
    grid-column: 1 / span 6;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* intro section */
/* intro header */
.intro h1 {
    width: 80%;
    font-size: 3rem;
    line-height: 4rem;
}

.intro p {
    line-height: 1.75rem;
    width: 100%;
    padding-right: 0.75rem; 
}

    /* download section */
    /* download section container */
.download-section {
    grid-column: 1 / span 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primaryText);
    background-image: url(./assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;

}

/* phone image in download section */
.phoneImage {
    width: 50%;
    height: auto;
}